<!doctype html>
<html>
	<head>
	
	</head>
	<body>
		<form action="/login" method="post">
			<input name="username" placeholder="User ID"> 
			<input name="password" placeholder="Password"> 
			<button type="submit">Login</button>
		</form>
	
	</body>

</html>